.header{
    background-color: yellow;
    /*
    o position está definido 2x mas é porque está definido para 2 navegadores
    */
    position: sticky;
    position: -webkit-sticky; /*deixa o cabeçalho fixo no topo da tela ao rolar*/
    top: 30px; /* aqui foi definido onde iria ficar fixo*/
    border: 1px solid #000;
    padding: 10px;
    font-size: 20px;
}